html, body, #map-canvas {
    margin: 0px;
    padding: 0px;
    overflow:  hidden;
}
#map-canvas {
    /*-webkit-transform: translateZ(0px) rotate(-241deg) !important;*/
    /*-moz-transform: translateZ(0px) rotate(135deg) !important;*/
    height: 1400px;
    width: 1400px;
    margin: 0 auto;
    /*top: 50%;*/
    /*left: 50%;*/
    margin-top: -240px;
    margin-left: -250px;
}
#google-map{
    overflow: hidden;
    width: 900px;
    height: 900px;
    margin: 0 auto;
}
#panel{
     width:100%;
     height: 85px;
     background: #99BBD7;
     position: absolute;
     bottom: 0;
     display: none;
 }

#middle-top-pan{
    margin: 0 auto;
    width: 700px;
}
#middle-pan{
    margin: 0 auto;
    width: 305px;
    position: relative;
}

#control-panel{
    margin: 0 auto;
    width: 114px;
    height: 40px;
    display: inline-block;
    vertical-align: bottom;
}

.pl-button{
    background-color: white;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border: 2px solid #333333;
    border-radius: 5px;
    float: left;
    margin-left: 1px;
    margin-right: 1px;
}

#bt-prev{
    background-image: url('../img/rewind.png');
}
#bt-next{
    background-image: url('../img/rewind - right.png');
}

#bt-play{
    background-image: url('../img/play.png');
}

#bt-pause{
    background-position: -140px 7px;
    width: 45px;
    height: 40px;
}

#bar{
    margin: 0 auto;
    width: 585px;
    display: block;
    float: left;
}

#s-nul-time{
    float: left;
    width: 50px;
}
#s-cur-time{
    display: block;
    margin: 0 auto;
    width: 50px;
    font-size: 15px;
    text-align: center;
}
#s-total-time{
    width: 50px;
    float: right;
}

#info{
    width:30px;
    height: 30px;
    background: #95ff95;
    display: none;
}

.button{
    width: 100px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: normal;
    font-size: 12pt;
    border: 1px solid #BBB;
    padding: 2px 2px 2px 2px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top:10px;
    border-radius: 4px;
}

.button:hover {
    background: #E7E7E7;
}

#speed {
    font-size: 11pt;
    text-align: center;
    height: 31px;
    width: 81px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5px;
}
#angle {
    font-size: 8pt;
    text-align: center;
    height: 31px;
    width: 88px;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 5px;
}

.bt-speed {
    width: 20px;
    height: 20px;
    padding: 0;
    border: 2px solid #333333;
    border-radius: 5px;
    background: white;
    vertical-align: top;
}

#bt-down{
    left: 0;
    float: left;
}

#bt-left{
    left: 0;
    float: left;
    background-image: url('../img/left - arrow.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

#bt-up{
    right: 0;
}

#bt-right{
    right: 0;
    background-image: url('../img/right - arrow.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}


#player-panel{
    background: #bfbfbf;
    width: 245px;
    top: 10px;
    position: absolute;
    padding: 5px;
    display: none;
}
#s-title {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 12pt;
    font-weight: bold;
}

#player-table {
    margin: 8px;
}

.circle {
    width:7px;
    height:7px;
    border-radius: 15px;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}
#bt-follow{
    position: absolute;
    top: 7px;
    right: -100px;
    width: 74px;
    height: 24px;
}